@media screen and (min-width: 768px) and (max-width: 1024px) 
.main-header, container {
    width: 100%;
}

* {
    background-color: rgb(247, 247, 247);
}

.container img {
    max-width: 14rem;
}

.container {
    display: inline-block;
    width: 40%;
    justify-content: space-between;
}