* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, Verdana;
}

body {
    background-color: #f8f8f8;
}

main {
    background-color: white;
}

h2, h3, .top, .full {
    font-size: 0.9rem;
    color: black;
}

h1, h4 {
    font-weight: bold;
}

/*Header
body {
    margin: 0 auto;
    max-width: 1024px;
}
*/

/*Footer
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: #f8f8f8;    
}
*/

ul {
    list-style: none;
    padding-left: 0;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 0.9rem;
}

nav {
    font-weight: 200;
    letter-spacing: .05em;
    background-color: #f8f8f8;
    padding: 15px 15px;
}

.top-nav a {
    text-transform: uppercase;
}

.container {
    padding: 10px;
    margin: 0 auto;
}

.col {
    min-height: 250px;
    color: darkslategrey;
    text-align: center;
    letter-spacing: 1px;
    padding-top: 5px;
}

.contact {
    text-align: center;
    color: grey;
    font-size: 0.9rem;
}

.contact p {
    color: grey;
}

/*
hr {
    color: grey;
    margin-right: 15px;
    margin-left: 15px;
}
*/

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
    background-color: #f8f8f8;
}

@media (min-width: 0px) and (max-width: 320px) {
h1, .top-nav {
    text-align: center;
    font-size: 1.2rem;
}

.top-nav {
    margin-top: 15px;
}
    
.top-nav li {
    padding: 8px 0;
    margin: 5px auto;
    background-color: #fff;
}   

header img {
    display: block;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 60px;
    padding-left: 60px;
    width: 100%;
    height: auto;
}

.container img {
    max-width: 1100px;
    display: block;
    padding-top: 10px;
    padding-bottom: 15px;
    padding-right: 5px;
    padding-left: 5px;
    width: 100%;
    height: auto;
}

.main-header p {
    color: darkgrey;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    font-size: 0.9rem;
}

h2, h3 {
    text-align: center;
    padding-top: 40px;
    padding-bottom: 10px;
    font-weight: bold;
}

h4 {
    padding-top: 10px;
    padding-bottom: 8px;
}

.contact {
    margin-top: 10px;
    margin-bottom: 70px;
}

.container {
    text-align: center;
}

.container p {
    padding: 10px 5px;
    padding-bottom: 30px;
    font-size: 0.9rem;
}

.col-box {
    flex: 1;
}

.col-box {
    flex: 2;
}

footer {
    padding: 0 15px;
    height: 80px;
}

footer a {
    font-size: 0.8rem;
}

.full {
    display: none;
}

}

@media (min-width: 320px) and (max-width: 768px) {
.container {
    display: flex;
}

h1, h3 {
    text-align: center;
}

h3 {
    padding-top: 30px;
    padding-bottom: 20px;
}

.top-nav {
    text-align: center;
}

.top-nav li {
    display: inline-block;
    margin-top: 20px;
    padding: 10px;
}

header {
    padding-bottom: 80px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
}

header img {
    width: 220px;
    height: 123px;
    margin-left: 20px;
    float: right;
}

.container img {
    width: 100%;
    height: auto;
}

.contact {
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 50px;
}

.contact p {
    padding: 0px 40px;
}

.full {
    display: inline-block;
    margin-left: 20px;
}

.top {
    display: none;
}

footer {
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 80px;
}

/*Footer    
.full {
    display: inline-block;
    margin-left: 20px;
}
*/

@media (min-width: 768px) and (max-width: 1500px) {
nav li {
    text-align: right;
}

.col-box-1, .col-box-2, .col-box-3 {
    display: inline-block;
    flex-direction: row;
    flex-wrap: space-between;
}

/*
.col {
    width: calc (33.333% - 20px);
}
*/

.full {
    display: none;
}
}