* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", Arial, Verdana;
}

body {
    background-color: #f8f8f8;
}

main {
    background-color: white;
    padding-bottom: 40px;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: darkslategray;
    font-weight: bold;
    font-size: 0.9rem;
}

h1 {
    text-align: center;
    font-size: 1.6rem;
    padding: 10px;
}

.top-nav {
    text-align: center;
    font-size: 1.2rem;
}
    
.top-nav li {
    padding: 8px 0;
    margin: 5px auto;
    background-color: #fff;
    text-transform: uppercase;
}  

nav {
    letter-spacing: .05em;
    background-color: #f8f8f8;
    padding: 15px 15px;
}

header img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 25px;
}

.main-header p {
    color: darkgrey;
    text-align: center;
    font-size: 1rem;
    padding: 0 10px 50px 10px;
}

.portfolio {
    color: darkslategray;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 0.9rem;
}

.header-c {
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: 0.9rem;
    color: darkslategray;
}

.container img {
    display: block;
    margin: auto;
    width: 300px;
    padding: 0px 10px;
}

.container p, h4 {
    text-align: center;
    color: darkslategray;
    margin: 20px 0 20px 0px;
}

.contact {
    text-align: center;
    color: grey;
    font-size: 0.9rem;
    padding-bottom: 60px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f8f8f8;
    padding: 20px;
} 

footer a {
    font-size: 0.8rem;
}

li {
    list-style: none;
}

.full {
    display: none;
}